BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
ColumnLimit: 0
MaxEmptyLinesToKeep: 1
